*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  background-color: #373737;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.main{
  width: 400px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.title{
  background-color: #008600;
  padding: 10px 20px;
}
.form{
  padding: 20px 40px;
  font-size: 16px;
  font-weight: bold;
  color: #000027;
}
.fCont{
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}
.form label{
  display: block;
  margin-bottom: 5px;
}
.fCont input{
  display: block;
  width: 100%;
  padding: 10px;
  border-radius:4px;
  border: 1px solid #d8d1d1;
  outline-color: #9a9a9a;
}
.fCont.valid input{
  border: 2px solid #1aa71a;
}
.fCont.empty input{
  border: 2px solid #e41d16;
}

section{
  position: absolute;
  margin: 3px;
  visibility: hidden;
}
.submit{
  background-color: #008600;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  width: 60%;
  border: none;
  border-radius: 20px;
}
.fContl{
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit:hover{
  background-color: rgb(83, 139, 0);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}